<nav>
    <style>
        .main {
            margin: auto; 
            max-width: 925px;
            padding: 0;
        }
        .section {
            padding: 0;
            width: 100%;
        }

        @media(min-width: 768px) {
            .section-title {
                max-width: 39.2%;
            }
            .section-nav {
                max-width: 42.6%;
            }
            .section-social {
                max-width: 18.2%;
            }
        }
    </style>

    <div class="row main">
        <div class="section section-title">
            <div class="holder">
                <div class="container card card-nav text-center animated fadeIn">
                    <span>
                        <a href="/">
                            William Qin
                        </a>
                    </span>
                    <span>
                        &nbsp;|&nbsp;
                    </span>
                    <span class="light">
                        student, developer, &amp; creator
                    </span>
                </div>
            </div>
        </div>
        <div class="section section-nav">
            <div class="holder">
                <div class="container card card-nav text-center animated fadeIn">
                    <span>
                        <a href="/about">
                            About
                        </a>
                        &nbsp;|&nbsp;
                        <a href="/blog">
                            Blog
                        </a>
                        &nbsp;|&nbsp;
                        <a href="/projects">
                            Projects
                        </a>
                        &nbsp;|&nbsp;
                        <a href="/activities">
                            Activities
                        </a>
                        &nbsp;|&nbsp;
                        <a href="/{{ site.resume }}">
                            Resume
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="section section-social">
            <div class="holder">
                <div class="container card card-nav text-center animated fadeIn">
                    <span>
                        {% include social-links.html %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</nav>