/* @import url('https://fonts.googleapis.com/css?family=Quicksand:400,500'); */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,600,600i,700,700i');

html {
    background-color: #c5e1a5;
    width: 100vw;
}

html * {
    /* font-family: 'Quicksand', sans-serif; */
    font-family: 'Nunito Sans', sans-serif;
}
  
body {
    background-color: inherit;
    /* color: #212121; */
    overflow-y: scroll;
    overflow-x: hidden;
}
  
* {
    box-sizing: border-box;
}

@media(max-width: 767px) {
    * {
        clear: both;
    }
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    align-items: center;
    display: flex;
}

.horizontal-center {
    justify-content: center;
    display: flex;
}

.full {
    width: 100%;
    height: 100%;
}

.holder {
    padding: 0.5rem;
}

.holder-stack {
    /* margin-top: 1rem; */
}

.light {
    color: #757575;
}

.card {
    background-color: #fff;
    color: #212121;

    border-radius: 0.2rem;

    box-shadow: 0px 0px 14px 0 rgba(0,0,0,0.6);
}

.card-home {
    max-width: 36rem;
    padding: 2rem;
}

.card-block {
    max-width: 57rem;
    padding: 2rem;
    font-size: 0.9rem;
}

.card-nav {
    max-width: 57rem;
    padding: 1rem;
}

.card-footer {
    max-width: 57rem;
    padding: 1rem;
}


.card-page {
    max-width: 57rem;
    padding: 2.5rem 2rem;
}

.card-project {
    max-width: 57rem;
    padding: 1.5rem 2rem 2.5rem;
}

.card-post {
    max-width: 57rem;
    padding: 2.5rem 2rem 2rem;
}

@media(min-width: 768px) {
    .card-page {
        max-width: 57rem;
        padding: 5rem 4rem;
    }
    
    .card-project {
        max-width: 57rem;
        padding: 4rem 4rem 5rem;
    }
    
    .card-post {
        max-width: 57rem;
        padding: 4rem 4rem 5rem;
    }
}


nav {
    padding-top: 2rem;
}

footer {
    padding-bottom: 2rem;
}


.icon-devpost {
    display: inline-block;
    width: 1.2rem;
    height: 1rem;
    stroke-width: 0;
    vertical-align: -0.2rem;
    transition: all .2s;
    background-color: #212121;
    -webkit-mask-image: url('/assets/icons/devpost.svg');
}

.icon-devpost:hover {
    background-color: #3F51B5;
}

.social-btn .icon-devpost{
    width: 2.41rem;
    height: 2.1rem;
    display: inline-block;
    vertical-align: -0.5rem;
}

div.image {
    overflow: hidden;
}

div.image img {
    -moz-transition: -moz-transform 0.2s ease-out;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    -ms-transition: -ms-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
}

div.image:hover img {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

a,
a:link,
a:visited,
a:hover,
a:active
{
    text-decoration: none;
}

p a,
p a:link,
p a:visited,
p a:hover,
p a:active {
    /* text-decoration: underline; */
    background-color: lightgreen;
}

li a,
li a:link,
li a:visited,
li a:hover,
li a:active {
    /* text-decoration: underline; */
    background-color: lightgreen;
}

.google-play img {
    max-width: 400px;
    width: 100%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container video {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

p a.download-icon {
    background-color: transparent;
}

.download-icon img {
    max-width: 80px;
    height: auto;
    display: inline;
}

